/* Application Styles - Fonts */
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto_Mono/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

/* Application Styles - HTML tags */
body {
    margin: 0;
    color: #555;
    font-family: 'Raleway', sans-serif;
}

textarea {
    resize: none;
    min-height: 150px;
}

label {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

table {
    table-layout: fixed;
}

table thead tr th {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table tbody tr td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table tfoot {
    border-bottom: 1px solid #E0E0E0;
}

/* Application Styles - Menu */
.menu {
    left: 0;
    right: 15px;
    min-height: 100%;
    position: absolute;
    color: #F0F0F0;
    background: #444;
}

.menu-nav-items ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #494949;
}

.menu-nav-items ul a {
    color: #F0F0F0;
}

.menu-nav-items ul a:hover {
    text-decoration: none;
}

.menu-nav-items ul a li {
    margin: 0;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #333;
}

.menu-nav-items ul a li.active {
    font-weight: 600;
    background: #48B5E7;
}

.menu-nav-items ul a li:hover {
    font-weight: 600;
    background: #48B5E7;
}

/* Application Styles - Top Menu */
.menu-top {
    color: #F0F0F0;
    background: #333232;
}

/* Application Styles - Fonts */
.font-raleway {
    font-family: 'Raleway', sans-serif !important;
}

.font-roboto {
    font-family: 'Roboto', sans-serif !important;
}

/* Application Styles - Validations */
.required-field:before {
    content: "* ";
    color: red;
    vertical-align: middle;
    font-family: Arial !important;
}

.form-control.required {
    border: 1px solid #C44D58 !important;
}

.form-group .error-message {
    margin: 4px 0 0 0;
    display: block;
    font-size: 14px;
    color: #C44D58 !important;
}

/* Application Styles - Colors */
.color-blue {
    color: #48B5E7;
}

.color-strong-blue {
    color: blue;
}

.color-white {
    color: #FFF;
}

.color-red {
    color: #C44D58;
}

.color-green {
    color: #728D72;
}

/* Application Styles - Backgrounds */
.background-black {
    background: #444;
}

.background-blue {
    background: #48B5E7;
}

/* Application Styles - Font Weight */
.bold {
    font-weight: 600;
}

/* Application Styles - Inputs */
.form-control {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

/* Application Styles - Displays */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

/* Application Styles - Vertical aligns */
.align-middle {
    vertical-align: middle;
}

/* Application CSS - Toasters */
.toaster {
    width: auto;
    max-width: 515px;
    padding: 18px;
    position: fixed;
    border-radius: 4px;
    top: 15px;
    right: 15px;
    z-index: 2;
    word-wrap: break-word;
    cursor: pointer;
    visibility: hidden;
    animation: show 6s;
}

.toaster-danger {
    color: #F4F4F4;
    background-color: #C44D58;
}

.toaster-danger:hover {
    background-color: #AA434D;
}

.toaster-warning {
    color: #F4F4F4;
    background-color: #F4A86D;
}

.toaster-success {
    color: #F4F4F4;
    background-color: #728D72;
}

.toaster-info {
    color: #F4F4F4;
    background-color: #7095E4;
}

/* Application Styles - Keyframes (Effects) */
@keyframes show {
    0% {
        visibility: visible;
    }
    100% {
        visibility: visible;
    }
}

/* Application Styles - Bootstrap */
.container-fluid {
    width: 100%;
    min-height: 100%;
    padding-left: 0;
    padding-right: 28px;
    margin-right: auto;
    margin-left: auto;
}

.pagination {
    margin: 0 !important;
    display: inline-flex !important;
}